p {
font-weight: bold;
font-size: 60px;
text-align: center;
}

html {
font-size: 250%;
font-weight: 300;
}

button {
color: #000000;
backround-color: #b38f00;
border-radius: 15px ;
font-family: Anton;
background-color: transparent;
font-size: inherit;
text-align: center;
outline: 2px solid #ffcc00;
border:  1px solid #ffcc00;
}


body {
align-items: center;
background-color:#ffcc00;
display: flex;
justify-content: center;
}
/* "dispalay:flex" taken from https://medium.freecodecamp.org/how-to-build-an-html-calculator-app-from-scratch-using-javascript-4454b8714b98 */

.screen {
border: 4px solid #ffcc00;
background-color: #ffccff;
color: #000000;
font-size: auto;
padding: 0.15em .5em;
text-align: right;
overflow: hidden;
}

.calculator-keys {
background-color: #ffcc00;
display: grid;
grid-gap: 0.75px;
grid-template-columns: repeat(4,1fr);
}

.calculator-keys > * {
background-color: #F0F8FF;
padding: 0.5em 1.25em;
text-align: center;
}

.equals {
background-color: #e600e6;
grid-column: -2;
grid-row: 2 / span 6;
}

button:active{
background: #ff471a;
}

title{
  font: Chalkduster, fantasy;
  color: blue;
}
