p {
font-weight: bold;
font-size: 60px;
text-align: center;
}

html {
font-size: 250%;
font-weight: 300;
}

title{
  font: Chalkduster, fantasy;
  color: blue;
}

button {
color: #000000;
backround-color: #b38f00;
border-radius: 15px ;
font-family: Anton;
background-color: transparent;
font-size: inherit;
text-align: center;
outline: 2px solid #ffcc00;
border:  1px solid #ffcc00;
}


body {
align-items: center;
background-color:#ffcc00;
display: flex;
justify-content: center;
}
/* "dispalay:flex" taken from https://medium.freecodecamp.org/how-to-build-an-html-calculator-app-from-scratch-using-javascript-4454b8714b98 */

.sub {
  padding: -20px;
  color: blue;
  text-decoration: underline;
  font-size: 40px;
}

button:active{
background: #ff471a;
}

.screen {
border: 4px solid #ffcc00;
background-color: #ffccff;
color: #000000;
font-size: auto;
padding: 0.85em .5em;
text-align: right;
overflow: hidden;
}

.classic {
  background-color: #e600e6;
  border-radius: 50px;
  grid-column: 20;
  grid-row: 50;
}
.blue {
  background-color: blue;
  border-radius: 50px;
  grid-column: 20;
  grid-row: 50;
}
.green {
  background-color: #00ff00;
  border-radius: 50px;
  grid-column: 20;
  grid-row: 50;
}

.calculator-keys {
background-color: #ffcc00;
display: grid;
grid-gap: 0.75px;
grid-template-columns: repeat(4,1fr);
}

.calculator-keys > * {
background-color: #F0F8FF;
padding: 0.5em 1.25em;
text-align: center;
}

.equals {
background-color: #e600e6;
grid-column: -2;
grid-row: 2 / span 6;
}

.blue1 {
background-color: none;
display: grid;
grid-gap: 0.75px;
grid-template-columns: repeat(4,1fr);
}

.blue1 > * {
background-color: blue;
padding: 0.5em 1.25em;
text-align: center;
}

.blue2 {
background-color: green;
grid-column: -2;
grid-row: 2 / span 6;
}


.green1 {
background-color: none;
display: grid;
grid-gap: 0.75px;
grid-template-columns: repeat(4,1fr);
}

.green1 > * {
background-color: green;
padding: 0.5em 1.25em;
text-align: center;
}

.green2 {
background-color: blue;
grid-column: -2;
grid-row: 2 / span 6;
}
